MAVIDROME_URL="http://192.168.0.3:4533" # NAVIDROME URL
NAVIDROME_URL_2="http://nav_tailscale.net:4533" # FALLBACK URL (Tailscale for example)
NAVIDROME_USER=user
NAVIDROME_PASSWORD=psw

MUSIC_PATH="~/music"
DOWNLOADS_PATH="~/downloads"
EXCLUDED_PATH="~/downloads/NO"

DISCOGS_TOKEN    = ""
DISCOGS_USERNAME = ""
DISCOGS_UA       = "AAAA/1.0" 